<!-- src/app/profiles/components/profile-edit-icon/profile-edit-icon.component.html -->
<p-dialog header="Edit Profile Icon"
          [(visible)]="editDialogVisible"
          [modal]="true"
          [closable]="true"
          (onHide)="onDialogCancel()">
  <div class="flex flex-column align-items-center">
    <h3>Current Icon</h3>
    <img [src]="profile.icon == '' ? 'https://avatars.githubusercontent.com/u/56156010?v=4' : profile.icon" alt="Current Icon" style="border-radius: 50%; width: 5rem; height: 5rem; object-fit: cover;">

    <h3>New Icon</h3>
    <img *ngIf="newIcon" [src]="newIconPreview" alt="New Icon" style="border-radius: 50%; width: 5rem; height: 5rem; object-fit: cover; margin-bottom: 0.5rem;">
    <input type="file" (change)="onFileSelected($event)" style="display: none;" #fileInput>
    <p-button label="Add Image" icon="pi pi-plus" (onClick)="fileInput.click()"></p-button>
  </div>

  <p-footer>
    <p-button class="mr-2" label="Cancel" icon="pi pi-times" (onClick)="onDialogCancel()"></p-button>
    <p-button label="Continue" icon="pi pi-check" (onClick)="onContinue()"></p-button>
  </p-footer>
</p-dialog>
