<div class="flex justify-content-evenly py-2 back">
  <div class="flex align-items-center" *ngFor="let story of stories">
    <div [style]="'background-color: ' + 'brown' + '; z-index: 2; width: 60px; height: 60px; border-radius: 30px;'">
    </div>
    <div class="absolute" [style]="'background-color: ' + story.backgroundColor + '; margin-left: 2rem; width: 40px; height: 30px;'">
    </div>
    <div class="flex align-items-center justify-content-center" [style]="'background-color: ' + story.backgroundColor + '; width: 60px; height: 30px;'">
      <p style="color: black">Cata</p>
    </div>
  </div>
</div>
<div>
  <div class="grid" style="height: 16rem">
    <div class="col-4 clickable" (click)="onToSession(0)" style="background-color: red">
      <div class="relative flex align-items-end justify-content-end h-full" style="background: none">
        <div class="flex align-items-center justify-content-center gap-3">
          <div class="flex">
            <div class="absolute" style="margin-left: 0.65rem; background-color: #ffffff; width: 2rem; height: 2rem; border-radius: 1rem"></div>
            <div class="absolute" style="margin-left: 0.4rem; background-color: grey; width: 2rem; height: 2rem; border-radius: 1rem"></div>
            <div style="z-index: 1; background-color: black; width: 2rem; height: 2rem; border-radius: 1rem"></div>
          </div>
          <p style="color: white">3 amigos yendo</p>
        </div>
      </div>
    </div>
    <div class="col-8 clickable" (click)="onToSession(0)" style="background-color: yellow">
      <div class="relative flex align-items-end justify-content-end h-full" style="background: none">
        <div class="flex align-items-center justify-content-center gap-3">
          <div class="flex">
            <div class="absolute" style="margin-left: 0.6rem; background-color: grey; width: 2rem; height: 2rem; border-radius: 1rem"></div>
            <div style="z-index: 1; background-color: black; width: 2rem; height: 2rem; border-radius: 1rem"></div>
          </div>
          <p style="color: black">2 amigos yendo</p>
        </div>
      </div>
    </div>
  </div>
  <div class="grid" (click)="onToSession(0)" style="height: 16rem">
    <div class="col-6 clickable" style="background-color: blue">

    </div>
    <div class="col-6 clickable" (click)="onToSession(0)" style="background-color: blueviolet">
      <div class="relative flex align-items-end justify-content-end h-full" style="background: none">
        <div class="flex align-items-center justify-content-center gap-3">
          <div class="flex">
            <div class="absolute" style="margin-left: 0.65rem; background-color: #ffffff; width: 2rem; height: 2rem; border-radius: 1rem"></div>
            <div class="absolute" style="margin-left: 0.4rem; background-color: grey; width: 2rem; height: 2rem; border-radius: 1rem"></div>
            <div style="z-index: 1; background-color: black; width: 2rem; height: 2rem; border-radius: 1rem"></div>
          </div>
          <p style="color: white">3+ amigos yendo</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="back" style="padding-top: 1rem">
  <div style="padding-bottom: 1rem; padding-left: 0.5rem; padding-right: 0.5rem;" *ngFor="let carousel of carousels">
    <div class="flex align-items-center justify-content-start" style="padding-bottom: 0.25rem">
      <h3>{{carousel.title}}</h3>
    </div>
    <div class="flex align-items-center justify-content-start gap-3">
      <div *ngFor="let item of carousel.items" style="background-color: red; height: 14rem; width: 8rem">

      </div>
    </div>
  </div>
</div>
