<!-- src/app/host/pages/host-visitor/host-visitor.component.html -->
<app-loading *ngIf="start == false"></app-loading>
<app-no-internet *ngIf="start == null"></app-no-internet>
<div *ngIf="start">
  <div class="absolute flex profile-hover-container" style="margin-top: 6rem; margin-left: 2rem">
    <div class="absolute" style="pointer-events: none; z-index: 10;">
      <div *ngIf="isThisUser" (click)="onClickingEditIcon()" class="flex align-items-center justify-content-center"
           style="pointer-events: all; cursor: pointer; margin-top: 8rem; margin-left: 9rem; width: 3rem; height: 3rem; border-radius: 1.5rem; background-color: white">
        <i class="pi pi-pencil" style="font-size: 1.5rem; color: black"></i>
      </div>
    </div>
    <img (click)="onClickingIcon()" [src]="host.icon == '' || host.icon == null ? 'https://avatars.githubusercontent.com/u/56156010?v=4' : host.icon" [alt]="host.username" [style]="'cursor: pointer'"
         style="height: 12rem; width: 12rem; border-radius: 50%; z-index: 5; object-fit: cover;">
    <div *ngIf="isThisUser" class="hover-label" style="z-index: 5; pointer-events: none">Cambiar</div>
  </div>
  <div style="height: 12rem" class="flex profile-hover-container">
    <img (click)="onClickingBackground()" [src]="host.background == '' || host.background == null ? 'https://avatars.githubusercontent.com/u/56156010?v=4' : host.background" [alt]="host.username" [style]="'cursor: pointer'"
         class="w-screen h-full" style="object-fit: cover; object-position: center;" />
    <div *ngIf="isThisUser" class="hover-label" style="pointer-events: none">Cambiar</div>
  </div>
  <div class="h-10rem" style="background-color: #171717">
    <div style="padding-left: 15rem; padding-top: 1rem">
      <div class="flex justify-content-between">
        <div>
          <div class="flex align-items-baseline justify-content-center gap-3">
            <h2 class="text-white">{{ host.name }}</h2>
            <p class="text-white">&#64;{{ host.username }}</p>
          </div>
          <p class="text-white mt-1">{{ host.bio }}</p>
        </div>
        <div class="flex gap-4 pr-4">
          <div class="text-center">
            <h2 class="text-white">{{ 0 }}</h2>
            <p class="text-white">Seguidores</p>
          </div>
          <div class="text-center">
            <h2 class="text-white">{{ 0 }}</h2>
            <p class="text-white">Seguidos</p>
          </div>
        </div>
      </div>
    </div>
    <div style="padding-top: 2.5rem">
      <div class="flex justify-content-between">
        <div class="flex gap-2 pl-2">
          <p-button label="Instagram" class="p-button-raised p-button-rounded"></p-button>
          <p-button label="TikTok" class="p-button-raised p-button-rounded"></p-button>
        </div>
        <div class="flex gap-2 pr-2">
          <p-button *ngIf="!isThisUser" label="Bloquear" class="p-button-raised p-button-rounded"></p-button>
        </div>
      </div>
    </div>
  </div>

    <div *ngIf="!isSessionsLoading() && !areThereSessions()" style="height: 58vh" class="flex flex-column align-items-center justify-content-center gap-4">
        <i class="pi pi-times" style="font-size: 12rem"></i>
        <h3>Este host no tiene <span style="color: #ffec8a">Sessions</span> todavía, pero pronto...</h3>
    </div>
    <div class="p-3">
        <h3 class="pl-2 pb-2" style="color: #ffec8a">Sessions:</h3>
        <div *ngFor="let session of sessions"
             class="session-row"
             [ngStyle]="{'background-image': session.sessionImage ? 'url(' + session.sessionImage + ')' : 'none', 'background-color': session.sessionImage ? 'transparent' : 'black'}">
            <div class="session-info">
                <h3 style="background-color: black; margin: 1rem; padding: 0.2rem">{{ session.name }}</h3>
                <p style="background-color: black; margin: 1rem; padding: 0.2rem">{{ session.date | date:'yyyy-MM-dd HH:mm' }}</p>
            </div>
        </div>
    </div>
</div>

<app-host-edit-fields [editDialogVisible]="editDialogVisible_fields" [host]="host"
                         (onSave)="onSave_fields($event)" (onCancel)="onCancel_fields()"/>

<app-host-edit-icon [editDialogVisible]="editDialogVisible_icon" [host]="host"
                       (onSave)="onSave_icon($event)" (onCancel)="onCancel_icon()"/>

<app-host-edit-background [editDialogVisible]="editDialogVisible_background" [host]="host"
                             (onSave)="onSave_background($event)" (onCancel)="onCancel_background()"/>

