<div class="grid pt-4" style="background-color: black; min-height: calc(100vh - 96px)">
    <div *ngFor="let bracelet of miniBracelets"
         class="h-12rem sm:col-4 col-6 flex justify-content-center align-items-center"
         style="cursor:pointer" (click)="onClickingBracelet(bracelet)">
        <div class="bracelet-container">
            <img class="bracelet-image" src="bracelets-preview/blue-bracelet.png" alt="Bracelet" />
            <div class="bracelet-info">
                <div class="bracelet-info-header">
                    <i class="pi pi-qrcode"></i>
                    <p>{{bracelet.name}}</p>
                </div>
                <p>{{ formatDate(bracelet.startDate) }}</p>
            </div>
        </div>
    </div>
</div>

