<div class="h-4rem flex justify-content-between align-items-center p-3"
     style="background-color: #171717">
  <div>
    <h1 class="clickable text-white" (click)="onToMainPage()">Venue.</h1>
  </div>
  <div class="flex gap-8">
    <p-button label="Descubre" severity="secondary"></p-button>
    <div class="flex align-items-center justify-content-center">
      <span class="p-input-icon-left" style="position: relative;">
        <i class="pi pi-search" style="position: absolute; left: 0.75rem; top: 50%; transform: translateY(-50%);"></i>
        <input pInputText placeholder="Busca" style="padding-left: 2.5rem;" />
      </span>
    </div>
  </div>
  <div class="flex">
    <div class="clickable" (click)="onToProfile()" style="background-color: white; border-radius: 50%; width: 2.5rem; height: 2.5rem; overflow: hidden;">
      <img src="https://avatars.githubusercontent.com/u/56156010?v=4" alt="profile" style="width: 100%; height: 100%; object-fit: cover;">
    </div>
  </div>
</div>
