<p-dialog
  [(visible)]="dialogVisible"
  [header]="'Código de Promotor No. ' + promoterCode.id"
  [style]="{ width: '25%' }"
  [modal]="true"
  [resizable]="false"
  [draggable]="false"
  [baseZIndex]="10000"
  (onHide)="onClickingClose()"
  >
    <div class="grid">
        <div class="col-6 flex flex-column">
            <p>URL creada:</p>
            <button pButton severity="danger" type="button" label="Copiar solo URL" (click)="copyUrlToClipboard()"></button>
        </div>
        <div class="col-6 flex flex-column">
            <p>Código a digitar en URL:</p>
            <h1>{{promoterCode.typableCode}}</h1>
        </div>
    </div>
  <div class="flex flex-column align-items-center justify-content-center">
    <button style="width:100%" pButton type="button" label="Copiar invitación" (click)="copyInvitationToClipboard()"></button>
  </div>
</p-dialog>
