<div class="bracelet-full-image">
    <app-bracelet-full-image/>
</div>
<div class="bracelet-info" *ngIf="bracelet.qrCodeBase64">
    <div class="bracelet-header">
        <img class="bracelet-mobile-photo" src="bracelets-preview/blue-bracelet.png" alt="Bracelet"/>
        <div class="qr-code" *ngIf="bracelet.qrCodeBase64">
            <img [src]="'data:image/png;base64,' + bracelet.qrCodeBase64" alt="QR Code"/>
        </div>
    </div>
    <div class="bracelet-qr-code-container">
        <div class="qr-code" *ngIf="bracelet.qrCodeBase64">
            <img [src]="'data:image/png;base64,' + bracelet.qrCodeBase64" alt="QR Code"/>
        </div>
    </div>
    <div class="ticket-body">
        <div class="ticket-details">
            <p><strong>Localización:</strong> {{ bracelet.location }}</p>
            <p><strong>Día:</strong> {{ bracelet.startDate }}</p>
            <p><strong>Descripción:</strong> {{ bracelet.description }}</p>
            <p><strong>DJ:</strong> {{ bracelet.dj }}</p>
            <p><strong>Dress Code:</strong> {{ bracelet.dressCode }}</p>
            <p><strong>Edad Mínima:</strong> {{ bracelet.ageMinimum }}</p>
            <p><strong>Tipo de Música:</strong> {{ bracelet.musicType }}</p>
        </div>
        <div class="user-details">
            <p><strong>Usuario:</strong> {{ fragileProfile.name }}</p>
            <p><strong>DNI:</strong> {{ fragileProfile.identityCard }}</p>
            <p><strong>Promotor:</strong> TBA</p>
            <p><strong>Tipo de Brazalete:</strong> BOX VIP</p>
            <p><strong>Tiempo de Entrada:</strong> 21:00 - 01:00</p>
        </div>
    </div>
</div>